:root  > * {
  --md-primary-fg-color:        #FAB90A;
  --md-primary-fg-color--light: #193257;
  --md-primary-fg-color--dark:  #4c92fa;
  --md-primary-bg-color:        #193257;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--md-primary-fg-color);
}
